.newproject_conteiner{
    width: 60vw;
    margin: 0 auto;
    padding: 3em;
}


.newproject_conteiner h1{
    margin-bottom: .5em;
    width: 100%;
}

.newproject_conteiner label{
    color: #fff;
    margin-bottom: .5em;
}